@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.content-without-background-1 {
  background: #f2f2f2;
  padding: 7%;
  height: auto;
}

.content-without-background-2 {
  background: #ffffff;
  padding: 7%;
  height: auto;
}

.content-without-background-3 {
  background: #ffffff;
  padding: 1%;
  height: auto;
}

.content-without-background-special {

    background: #f2f2f2;
    padding: 7%;
    height: auto;
    clip-path: polygon(0 8%, 46% 4%, 100% 0, 100% 100%, 58% 100%, 0 100%, 0% 75%);
}

.header {
  height: auto;
  weight: 100%;
}

.header p {
  color: #000000;
  font-size: 30px;
  font-family: 'Lobster', cursive;
  transition: all 500ms ease-out;
}

.header p:hover {
    text-decoration: none;
    color: #ff6666;
    transition: all 500ms ease-out;
}

.header a {
    text-decoration: none;
}

.header i {
  font-size: 20px;
  color: #000000;
  transition: all 500ms ease-out;
  margin: 1%;
}

.header i:hover {
  color: #ff6666;
  transition: all 500ms ease-out;
}

.photo {
    background: #f2f2f2;
}

.photo img {
  width: 100%;
  height: 700px;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.grettings {
  width: 100%;
  height: auto;
  margin-top: -35%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5%;
}

.grettings h1 {
  padding: 1%;
  color: #ffffff;
  text-align: center;
  font-size: 40px;
}

.grettings h3 {
  padding: 1%;
  color: #ffffff;
  text-align: center;
  font-size: 25px;
}

.grettings i {
    font-size: 50px;
    color: #ffffff;
    animation: sdb05 1.5s infinite;
    margin-bottom: 2%;
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {

    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}

.progress {
	width: 200px;
	height: 280px;
	background: #f2f2f2;
}

.progress .track, .progress .fill {
	fill: rgba(0, 0, 0, 0);
	stroke-width: 3;
	transform: rotate(90deg)translate(0px, -80px);
}

.progress .track {
	stroke: rgb(56, 71, 83);
}

.progress .fill {
	stroke: rgb(255, 255, 255);
	stroke-dasharray: 219.99078369140625;
	stroke-dashoffset: -219.99078369140625;
	transition: stroke-dashoffset 2.5s;
}
.progress.blue .fill {
	stroke: rgb(51, 153, 255);
}

.progress.green .fill {
	stroke: rgb(186, 223, 172);
}

.progress.red .fill {
	stroke: rgb(255, 80, 80);
}

.progress.yellow .fill {
	stroke: rgb(255, 255, 102);
}

.progress .value, .progress .text {
	font-family: 'Roboto', sans-serif;
	fill: #000000;
	text-anchor: middle;
}
.progress .text {
	font-size: 12px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.counter-box {
    font-family: 'Notable', sans-serif;
    color: #b3b3b3;
}

.counter-box .counter-child-one {

    border-right: 1px #b3b3b3 solid;
    transition: all 500ms ease-out;
}

.counter-box .counter-child-two {

    border-right: 1px #b3b3b3 solid;
    transition: all 500ms ease-out;
}

.counter-box .counter-child-three {

    transition: all 500ms ease-out;
}

.counter-box .counter-child-one:hover {
    color: #ff6666;
    transition: all 500ms ease-out;
}

.counter-box .counter-child-two:hover {
    color: #ff6666;
    transition: all 500ms ease-out;
}

.counter-box .counter-child-three:hover {
    color: #ff6666;
    transition: all 500ms ease-out;
}

.short-presentation h1 {
    margin-bottom: 12%;
}

.short-presentation i {

    font-size: 80px;
    color: #ff6666;
    transition: all 500ms ease-out;
}

.short-presentation i:hover {

    font-size: 80px;
    color: #ff6666;
    transition: all 500ms ease-out;
    transform: scale(1.5);
}

.short-presentation p {
    margin-top: 20%;
}

#other-projects {
    margin: -5%;
    margin-bottom: 8%;
}

.other-projects h3 {
    color: #ff6666;
}

.other-projects p {

    padding: 3%;
}

.other-projects img {
    width: 100%;
    transition: transform .2s;
}

.other-projects img:hover {
    transform: scale(1.1);
}

.paralax {
    height: 600px;

    background-image: url("https://1r4z5a9gfu1acm33245gbc10-wpengine.netdna-ssl.com/blog/wp-content/uploads/sites/11/2020/03/The-history-of-coding-and-how-it-affects-the-workplace-878x550.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(40%);
    transition: all 500ms ease-out;
}

.paralax:hover {
    color: #ff6666;
    transition: all 500ms ease-out;
}

.last-list {
    margin-top: -50%;
    color: #f2f2f2;
    padding: 4%;
}

.books-presentation {
    margin-top: 30%;
}

.books-presentation img {
    width: 50%;
    height: 250px;
}

.btn {
    color: #ffffff;
    background: #ff6666;
    border: none;
    transition: all 500ms ease-out;
}

.btn:hover {
    background: #e03131;
    transition: all 500ms ease-out;
}

#button-top {
  text-decoration: none;
  display: inline-block;
  background-color: #ff6666;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button-top:hover {
  cursor: pointer;
  background-color: #333;
}

#button-top:active {
  background-color: #000000;
}

#button-top.show {
  opacity: 1;
  visibility: visible;
}

.footer-backgroud {
    background: #ff6666;
}

.footer {
   height: auto;
}

.footer h2 {
   color: #ffffff;
   padding: 2%;
}

.footer i {
  margin: auto;
  font-size: 25px;
  transition: all 500ms ease-out;
  padding: 1%;
  color: #ffffff;
  border: #ffffff 2px solid;
  border-radius: 75%;
}

.footer i:hover {
  background: #000000;
  transition: all 500ms ease-out;
}

.border {
  height: 1px;
  width: 100%;
  background: #ffffff;
}

.copyright {
  padding:5%;
  color: #ffffff;
  font-size: 15px;
}

.copyright i {
  border: none;
  padding: 0%;
  font-size: 15px;
}
