<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Animate On Scroll -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/mobile_adjust.css' %}">

    <title>Cigan Oliviu David</title>
  </head>
  <body>
    <a id="button-top"></a>

    <div class = "header" align = "center" data-aos="fade-right">
      <div class = "col-lg-12">
        <div class = "logo">
            <a href = "/"><p>Cigan Oliviu-David</p></a>
            <a href="https://www.facebook.com/cigan.oliviu.31" target = "__blank"><i class="fa fa-facebook-official" aria-hidden="true" id = "facebook"></i></a>
            <a href="https://www.instagram.com/cigandavid/?hl=ro" target = "__blank"><i class="fa fa-instagram" aria-hidden="true" id = "instagram"></i></a>
            <a href="https://github.com/CiganOliviu" target = "__blank"><i class="fa fa-github" aria-hidden="true" id = "github"></i></a>
        </div>
      </div>
    </div>

    <div class = "photo">
      <figure>
        <img src = "{% static 'img/coding.jpg' %}"/>
      </figure>
    </div>

    <div class = "container">
      <div class = "col-lg-12">
        <div class = "grettings" data-aos = "fade-up" align = "center">
          <h1>Welcome World!</h1>
          <h3>Nice to have you here!</h3>
            <a href="#" class = "scroll-down"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

    <div class = "content-without-background-1"  id = "progresser">
        <div class = "container" align = "center">
            <div id="wrapper" class="center" data-aos="fade-up-left">
                <div class = "col-lg-3">
                        <svg class="progress blue noselect" id = "bar-progress" data-progress="92" x="0px" y="0px" viewBox="0 0 80 80">
                            <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                            <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                            <text class="value" x="50%" y="55%">0%</text>
                            <text class="text" x="50%" y="115%">Clean Code</text>
                        </svg>
                </div>
                <div class = "col-lg-3">
                        <svg class="progress green noselect" id = "bar-progress" data-progress="84" x="0px" y="0px" viewBox="0 0 80 80">
                            <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                            <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                            <text class="value" x="50%" y="55%">0%</text>
                            <text class="text" x="50%" y="115%">Testing</text>
                        </svg>
                </div>
                <div class = "col-lg-3">
                        <svg class="progress red noselect" id = "bar-progress" data-progress="93" x="0px" y="0px" viewBox="0 0 80 80">
                            <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                            <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                            <text class="value" x="50%" y="55%">0%</text>
                            <text class="text" x="50%" y="115%">Soft Skills</text>
                        </svg>
                </div>
                <div class = "col-lg-3">
                        <svg class="progress yellow noselect" id = "bar-progress" data-progress="80" x="0px" y="0px" viewBox="0 0 80 80">
                            <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                            <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                            <text class="value" x="50%" y="55%">0%</text>
                            <text class="text" x="50%" y="115%">Automatisation</text>
                        </svg>
                 </div>
            </div>
        </div>
    </div>

    <div class = "content-without-background-2">
        <div class = "container" align = "center">
            <div class = "counter-box" data-aos="fade-up-right">
                 <div class = 'col-lg-4'>
                      <div class="counter-child-one">
                     <h3> clients </h3>
                      <span class="counter" data-from="0" data-to="54" style="font-size: 350%"> 54 </span>
                    </div>
                 </div>
                 <div class = 'col-lg-4'>
                     <div class="counter-child-two">
                        <h3> ideas </h3>
                        <span class="counter" data-from="0" data-to="35" style="font-size: 350%"> 35 </span>
                     </div>
                 </div>
                 <div class = 'col-lg-4'>
                     <div class="counter-child-three">
                        <h3> projects </h3>
                        <span class="counter" data-from="0" data-to="50" style="font-size: 350%"> 50 </span>
                     </div>
                 </div>
            </div>
        </div>
    </div>

    <div class = "content-without-background-special">
        <div class = "container" align = "center">
            <div class = "short-presentation">
                <div class = "col-lg-12" data-aos="fade-down">
                    <h1>I provide a gamified working environment that encourages and supports the client needs.</h1>
                </div>
                <div class = "col-lg-4" data-aos="flip-left">
                    <i class="fa fa-code" aria-hidden="true"></i>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                </div>
                <div class = "col-lg-4" data-aos="flip-right">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                </div>
                <div class = "col-lg-4" data-aos="flip-up">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                </div>
            </div>
        </div>
    </div>

    <div class = "content-without-background-2">
        <div class = "container" align = "center">
            <div class = "col-lg-12" id = "other-projects" data-aos="fade-down">
                <h1>Other projects.</h1>
            </div>
            <div>&nbsp;</div>
            <div class = "col-lg-6" data-aos="fade-right">
                <div class = "other-projects">
                    {% load static %}
                    <img src="{% static 'img/esential.png' %}" onclick="window.open(this.src)" />
                </div>
            </div>
            <div class = "col-lg-6" data-aos="fade-right">
                <div class = "other-projects">
                    <h3> Esential </h3>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.

                      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Ri
                    </p>
                </div>
            </div>
        </div>
        <div class = "container" align = "center">
            <div>&nbsp;</div>
            <div class = "col-lg-6" data-aos="fade-left">
                <div class = "other-projects">
                    <h3> EasyPass </h3>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.

                      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Ri
                    </p>
                </div>
            </div>
            <div class = "col-lg-6" data-aos="fade-left">
                <div class = "other-projects">
                    {% load static %}
                    <img src="{% static 'img/easypass.png' %}" onclick="window.open(this.src)" />
                </div>
            </div>
        </div>
        <div class = "container" align = "center">
            <div>&nbsp;</div>
            <div class = "col-lg-6" data-aos="fade-right">
                <div class = "other-projects">
                    {% load static %}
                    <img src="{% static 'img/magnus.png' %}" onclick="window.open(this.src)" />
                </div>
            </div>
            <div class = "col-lg-6" data-aos="fade-right">
                <div class = "other-projects">
                    <h3> Magnus </h3>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.

                      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Ri
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>&nbsp;</div><div>&nbsp;</div><div>&nbsp;</div>

    <div class = "paralax"></div>
    <div class = "content-without-background-3">
        <div class = "container">
            <div class = "col-lg-12">
                <div class = "last-list" align = "center" data-aos="fade-down">
                    <h1>I'm a Clean Coder</h1>
                </div>
            </div>
        </div>
    </div>

    <div class = "content-without-background-2">
        <div class = "container" align = "center">
            <div class = "col-lg-12" data-aos="fade-down">
                <h1 id = "books-title">Books I highly recommend</h1>
            </div>
            <div>&nbsp;</div>
            <div class = "col-lg-4" data-aos="flip-left">
                <div class = "books-presentation">
                    <img src="{% static 'img/clean_code.jpg' %}" />
                    <h3>Clean Code</h3>
                    <h5>Bob Martin</h5>
                    <a href="https://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882/ref=sr_1_1?dchild=1&keywords=Clean+code&qid=1593982089&sr=8-1" target = "__blank"><button type="button" class="btn btn-info">Buy it</button></a>
                </div>
            </div>
            <div class = "col-lg-4" data-aos="flip-up">
                <div class = "books-presentation">
                    <img src="{% static 'img/clean_arhitecture.jpg' %}" />
                    <h3>Clean Arhitecture</h3>
                    <h5>Bob Martin</h5>
                    <a href="https://www.amazon.com/Clean-Architecture-Craftsmans-Software-Structure/dp/0134494164/ref=sr_1_1?dchild=1&keywords=clean+architecture&qid=1593982101&sr=8-1" target = "__blank"><button type="button" class="btn btn-info">Buy it</button></a>
                </div>
            </div>
            <div class = "col-lg-4" data-aos="flip-right">
                <div class = "books-presentation">
                    <img src="{% static 'img/clean_coder.jpg' %}" />
                    <h3>Clean Coder</h3>
                    <h5>Bob Martin</h5>
                    <a href="https://www.amazon.com/Clean-Coder-Conduct-Professional-Programmers/dp/0137081073/ref=sr_1_1?dchild=1&keywords=clean+coder&qid=1593982115&sr=8-1" target = "__blank"><button type="button" class="btn btn-info">Buy it</button></a>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class = "col-lg-4" data-aos="flip-left">
                <div class = "books-presentation">
                    <img src="{% static 'img/refactoring.jpg' %}" />
                    <h3>Refactoring</h3>
                    <h5>Martin Fowler</h5>
                    <a href="https://www.amazon.com/Refactoring-Improving-Existing-Addison-Wesley-Signature/dp/0134757599/ref=sr_1_1?dchild=1&keywords=refactoring&qid=1593982127&sr=8-1" target = "__blank"><button type="button" class="btn btn-info">Buy it</button></a>
                </div>
            </div>
            <div class = "col-lg-4" data-aos="flip-up">
                <div class = "books-presentation">
                    <img src="{% static 'img/implementation_patterns.jpg' %}" />
                    <h3>Implementation Patterns</h3>
                    <h5>Kent Beck</h5>
                    <a href="https://www.amazon.com/Implementation-Patterns-Kent-Beck/dp/0321413091/ref=sr_1_1?dchild=1&keywords=implementation+patterns&qid=1593982147&sr=8-1" target = "__blank"><button type="button" class="btn btn-info">Buy it</button></a>
                </div>
            </div>
            <div class = "col-lg-4" data-aos="flip-right">
                <div class = "books-presentation">
                    <img src="{% static 'img/life_3.jpeg' %}" />
                    <h3>Life 3.0</h3>
                    <h5>Max Tegmark</h5>
                    <a href="https://www.amazon.com/Life-3-0-Being-Artificial-Intelligence/dp/1101970316/ref=sr_1_1?dchild=1&keywords=life+3.0&qid=1593982161&sr=8-1" target = "__blank"><button type="button" class="btn btn-info">Buy it</button></a>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class = "col-lg-12" data-aos="fade-up">
                <a href="/books/">Go to see more </a>
            </div>
        </div>
    </div>

    <div class = "footer-backgroud">
        <footer>
                <div class = "container" align = "center">
                    <div class = "col-lg-12">
                        <div class = "footer" data-aos="fade-left">
                            <h2>Have questions ? Contact ciganoliviudavid@gmail.com</h2>
                            <div>&nbsp;</div>
                            <a href="https://www.facebook.com/cigan.oliviu.31" target="__blank"><i class="fa fa-facebook-official" aria-hidden="true" id = "facebook-footer"></i></a>
                            <a href="https://www.instagram.com/cigandavid/?hl=ro" target="__blank"><i class="fa fa-instagram" aria-hidden="true" id = "instagram-footer"></i></a>
                            <a href="https://github.com/CiganOliviu" target="__blank"><i class="fa fa-github" aria-hidden="true" id = "github-footer"></i></a>
                            <div>&nbsp;</div>
                            <div class = "border"></div>
                            <div class = "copyright">
                                <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> Cigan Oliviu-David all rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
        </footer>
    </div>

  </body>
  {% load static %}
  <script src="{% static 'main/javascript/aos_init.js' %}"></script>
  <script src="{% static 'main/javascript/progress_bars.js' %}"></script>
  <script src="{% static 'main/javascript/digit_incrementer.js' %}"></script>
  <script src="{% static 'main/javascript/scroll_down.js' %}"></script>
  <script src="{% static 'main/javascript/button-to-top.js' %}"></script>
</html>
