<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Animate On Scroll -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://rawgit.com/kottenator/jquery-circle-progress/1.2.1/dist/circle-progress.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">

    <title>Cigan Oliviu David</title>
  </head>
  <body>
    <div class = "header" align = "center">
      <div class = "col-lg-12">
        <div class = "logo">
            <p>Cigan Oliviu-David</p>
            <i class="fa fa-facebook-official" aria-hidden="true" id = "facebook"></i>
            <i class="fa fa-instagram" aria-hidden="true" id = "instagram"></i>
            <i class="fa fa-github" aria-hidden="true" id = "github"></i>
        </div>
      </div>
      </div>
     </div>
    <div class = "photo">
      <figure>
        <img src = "{% static 'img/coding.jpg' %}"/>
      </figure>
    </div>
    <div class = "container">
      <div class = "col-lg-12">
        <div class = "grettings" data-aos = "fade-up">
          <h1>Welcome World!</h1>
          <h3>Nice to have you here!</h3>
        </div>
      </div>
    </div>
    <div class = "container" align = "center">
        <div id="wrapper" class="center">
            <div class = "col-lg-3" data-aos="fade-right">
                    <svg class="progress blue noselect" data-progress="71" x="0px" y="0px" viewBox="0 0 80 80">
                        <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                        <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                        <text class="value" x="50%" y="55%">0%</text>
                        <text class="text" x="50%" y="115%">Web Stack</text>
                    </svg>
            </div>
            <div class = "col-lg-3" data-aos = "fade-down">
                    <svg class="progress green noselect" data-progress="84" x="0px" y="0px" viewBox="0 0 80 80">
                        <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                        <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                        <text class="value" x="50%" y="55%">0%</text>
                        <text class="text" x="50%" y="115%">Testing</text>
                    </svg>
            </div>
            <div class = "col-lg-3" data-aos = "fade-up">
                    <svg class="progress red noselect" data-progress="89" x="0px" y="0px" viewBox="0 0 80 80">
                        <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                        <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                        <text class="value" x="50%" y="55%">0%</text>
                        <text class="text" x="50%" y="115%">Soft Skills</text>
                    </svg>
            </div>
            <div class = "col-lg-3" data-aos="fade-left">
                    <svg class="progress yellow noselect" data-progress="78" x="0px" y="0px" viewBox="0 0 80 80">
                        <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                        <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                        <text class="value" x="50%" y="55%">0%</text>
                        <text class="text" x="50%" y="115%">Automatisation</text>
                    </svg>
             </div>
        </div>
    </div>
    <div class = "content-without-background">
        <div class = "container" align = "center">
            <div class = "col-lg-12">
                <div class = "content" data-aos="fade-up-right">
                    <h1> Other Projects </h1>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class = "container" align = "center">
            <div class = "col-lg-12">
                <div class = "footer">
                    <div>&nbsp;</div>
                    <i class="fa fa-facebook-official" aria-hidden="true" id = "facebook-footer"></i>
                    <i class="fa fa-instagram" aria-hidden="true" id = "instagram-footer"></i>
                    <i class="fa fa-github" aria-hidden="true" id = "github-footer"></i>
                    <div>&nbsp;</div>
                    <div class = "border"></div>
                    <div class = "copyright">
                        <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> Cigan Oliviu-David all rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  </body>
  {% load static %}
  <script src="{% static 'main/aos_init.js' %}"></script>
  <script src="{% static 'main/progress_bars.js' %}"></script>
</html>
    <!--
    <p>
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.

      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
    </p>
    -->
