@media(max-width: 800px) {
  .brand h1 {
    font-size: 30px;
  }

  .brand i {
    font-size: 22px;
  }

  .welcome-message .message {
    font-size: 40px;
  }

  .welcome-message i {
    font-size: 35px;
  }

  .counter-box .counter-child-one {
    border-right: none;
  }

  .counter-box .counter-child-two {
    border-right: none;
  }

  .footer ul li {
  	display: table;
  }
}

@media (max-width: 400px) {
  .container .box {
      width:calc(370px - 60px);
      height:calc(339px - 30px);
  }
}
