@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header {
  background-color: #000000;
  height: 80px;
  weight: 100%;
  opacity: 0.9;
  filter: alpha(opacity=50);
}

.header p {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Lobster', cursive;
}

.social-media {
  font-size: 20px;
  color: #ffffff;
}

.social-media i {
  margin-left: 2%;
  transition: all 500ms ease;
}

.social-media i:hover {
  color: #C30101;
  transition: all 500ms ease;
}

.photo img {
  width: 100%;
  height: 600px;
}

.gretting h1 {
  margin-top: -120px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  opacity: 0.9;
  filter: alpha(opacity=50);
  padding: 3%;
}
