@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: url("https://i.pinimg.com/originals/85/6f/31/856f31d9f475501c7552c97dbe727319.jpg");
}

.content-without-background {
  background: #ffffff;
  padding: 1%;
  height: auto;
}

.header {
  height: auto;
  weight: 100%;
}

.header p {
  color: #000000;
  font-size: 30px;
  font-family: 'Lobster', cursive;
}

.header i {
  font-size: 20px;
  color: #000000;
  transition: all 500ms ease;
  margin: 1%;
}

.header i:hover {
  color: #ff6666;
  transition: all 500ms ease;
}

.photo img {
  width: 100%;
  height: 700px;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.grettings {
  width: 100%;
  height: auto;
  margin-top: -35%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5%;
}

.grettings h1 {
  padding: 1%;
  color: #ffffff;
  text-align: center;
  font-size: 40px;
}

.grettings h3 {
  padding: 1%;
  color: #ffffff;
  text-align: center;
  font-size: 25px;
}

.progress{
	width: 200px;
	height: 280px;
}
.progress .track, .progress .fill{
	fill: rgba(0, 0, 0, 0);
	stroke-width: 3;
	transform: rotate(90deg)translate(0px, -80px);
}
.progress .track{
	stroke: rgb(56, 71, 83);
}
.progress .fill {
	stroke: rgb(255, 255, 255);
	stroke-dasharray: 219.99078369140625;
	stroke-dashoffset: -219.99078369140625;
	transition: stroke-dashoffset 1s;
}
.progress.blue .fill {
	stroke: rgb(51, 153, 255);
}

.progress.green .fill {
	stroke: rgb(186, 223, 172);
}

.progress.red .fill {
	stroke: rgb(255, 80, 80);
}

.progress.yellow .fill {
	stroke: rgb(255, 255, 102);
}

.progress .value, .progress .text {
	font-family: 'Roboto', sans-serif;
	fill: #000000;
	text-anchor: middle;
}
.progress .text {
	font-size: 12px;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.footer {
   height: auto;
}

.footer i {
  margin: auto;
  font-size: 25px;
  color: #000000;
  transition: all 500ms ease;
  padding: 1%;
  border: #000000 2px solid;
  border-radius: 75%;
}

.footer i:hover {
  background: #ff6666;
  transition: all 500ms ease;
}

.border {
  height: 1px;
  width: 100%;
  background: #000000;
}

.copyright {
  padding:5%;
}
.copyright i {
  border: none;
  padding: 0%;
  font-size: 15px;
}
