@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#facebook {
  color: #FFFFFF;
  margin-top: auto;
  padding: 10%;
  font-size: 18px;
  transition: all 500ms ease;
}

#facebook:hover {
  color: #4267B2;
  transition: all 500ms ease;
}

#instagram {
  color: #FFFFFF;
  margin-top: 5%;
  padding: 10%;
  font-size: 18px;
  transition: all 500ms ease;
}

#instagram:hover {
  color: #F56040;
  transition: all 500ms ease;
}

#youtube {
  color: #FFFFFF;
  margin-top: auto;
  padding: 10%;
  font-size: 18px;
  transition: all 500ms ease;
}

#youtube:hover {
  color: #FF0000;
  transition: all 500ms ease;
}
